GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/api/auth/google/callback
SESSION_SECRET=
NOTION_TOKEN=
NOTION_RELEASE_SCHEDULE_DB=a2439385-8c29-49df-8a9f-a6cfd8fa19b8
NOTION_USERS_DB=37944d10-b4ab-8060-ab9b-000b3653b2de
